<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryan.queensutour" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CampusMap"
            android:label="@string/title_activity_campus_map"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ryan.queensutour.MainActivity" />
        </activity>
        <activity
            android:name=".FunFacts"
            android:label="@string/title_activity_fun_facts"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ryan.queensutour.MainActivity" />
        </activity>
        <activity
            android:name=".FAQ"
            android:label="@string/title_activity_faq"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ryan.queensutour.MainActivity" />
        </activity>
        <activity
            android:name=".LinksAndContacts"
            android:label="@string/title_activity_links_and_contacts" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".GoogleMapOfCampus"
            android:label="@string/title_activity_google_map_of_campus" >
        </activity>
        <activity
            android:name=".ListOfGallery"
            android:label="@string/title_activity_list_of_gallery" >
        </activity>
        <activity
            android:name=".GoogleGuidedTour"
            android:label="@string/title_activity_google_guided_tour" >
        </activity>
        <activity
            android:name=".EngineeringBuildingsMenu"
            android:label="@string/title_activity_engineering_buildings_menu" >
        </activity>
        <activity
            android:name=".NonEngineeringBuildingsMenu"
            android:label="@string/title_activity_non_engineering_buildings_menu" >
        </activity>
        <activity
            android:name=".FoodBuildingsMenu"
            android:label="@string/title_activity_food_buildings_menu" >
        </activity>
        <activity
            android:name=".HistoricalBuildingsMenu"
            android:label="@string/title_activity_historical_buildings_menu" >
        </activity>
        <activity
            android:name=".PictureViewCampusMap"
            android:label="@string/title_activity_picture_view_campus_map" >
        </activity>
        <activity
            android:name=".EllisHallBuilding"
            android:label="@string/title_activity_ellis_hall_building" >
        </activity>
        <activity
            android:name=".ChernoffHallBuilding"
            android:label="@string/title_activity_chernoff_hall_building" >
        </activity>
        <activity
            android:name=".ClarkHallBuilding"
            android:label="@string/title_activity_clark_hall_building" >
        </activity>
        <activity
            android:name=".DupuisHallBuilding"
            android:label="@string/title_activity_dupuis_hall_building" >
        </activity>
        <activity
            android:name=".GoodwinHallBuiling"
            android:label="@string/title_activity_goodwin_hall_builing" >
        </activity>
        <activity
            android:name=".GoodwinHallBuilding"
            android:label="@string/title_activity_goodwin_hall_building" >
        </activity>
        <activity
            android:name=".ILCBuilding"
            android:label="@string/title_activity_ilcbuilding" >
        </activity>
        <activity
            android:name=".InnovationCommonsBuilding"
            android:label="@string/title_activity_innovation_commons_building" >
        </activity>
    </application>

</manifest>
